<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'featured' %}">Featured</a>
          </li>
        </ul>


        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="https://github.com/fbigiolli"><ion-icon name="logo-github"></ion-icon> My Github</a>
          </li>

          <li class="nav-item">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none my-2 text-white-50"/>
          </li>
  
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <form id="logout-form" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="nav-link" aria-current="page"><ion-icon name="log-out-outline"></ion-icon> Sign out</button>
              </form>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'login' %}"><ion-icon name="log-in-outline"></ion-icon> Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'register' %}"><ion-icon name="create-outline"></ion-icon> Sign Up</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>